@import 'custom';
@import '~bootstrap/scss/bootstrap.scss';
@import 'config';

@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  background-color: $body-bg;
  font-family: $font-stack;
  line-height: 1.6;
}

#navbar {
  @include set-navbar-background($navbar-bg-color);
  height: 60px;

  &-title {
    color: set-navbar-text-color($navbar-bg-color);
    margin-left: 20px;
  }
}

#collage-wrapper {
  width: 500px;
  height: 100%;
  margin: 0 auto;
  padding-top: 60px;

  #collage-container {
    width: 100%;
  }

  #collage-header {
    padding: 15px 0;
  }

  #collage-body {
    background-color: #888;
    height: 500px;
    border: 1px solid $block-bg-1;
    display: grid;

    .collage-block {
      position: relative;
      overflow: hidden;
      background-color: #ccc;
      height: 100%;
      width: 100%;
      margin: 0 auto;

      &.collage-bg-1 {
        background-color: $block-bg-1;
      }

      &.collage-bg-2 {
        background-color: $block-bg-2;
      }

      &.collage-bg-3 {
        background-color: $block-bg-3;
      }

      .collage-block-uploader {
        width: 100%;
        height: 100%;
        color: #333;

        .btn {
          font-size: 12px;
        }
      }
    }
  }

  #collage-layout-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(40px, 1fr));
    grid-gap: 20px;

    .collage-layout {
      display: grid;
      height: 40px;
      background-color: #eee;
      border: 1px solid $block-bg-1;
      cursor: pointer;

      .collage-layout-block {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        color: #888;

        &.layout-block-1 {
          background-color: $block-bg-1;
        }

        &.layout-block-2 {
          background-color: $block-bg-2;
        }

        &.layout-block-3 {
          background-color: $block-bg-3;
        }
      }

      &.active, &:hover {
        border-color: $block-active-1;

        .collage-layout-block {
          color: #fff;
        }
        
        .layout-block-1 {
          background-color: $block-active-1;
        }

        .layout-block-2 {
          background-color: $block-active-2;
        }

        .layout-block-3 {
          background-color: $block-active-3;
        }
      }
    }
  }
}

.cropper-container {
  width: 100%!important;
  height: 100%!important;

  .cropper-crop-box {
    display: none!important;
  }
}