@import '~bootstrap/scss/bootstrap.scss';
@import 'config';

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  background-color: $body-bg;
  font-family: $font-stack;
  line-height: 1.6;
}
