@import '~bootstrap/scss/bootstrap.scss';
@import 'config';

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  background-color: $body-bg;
  font-family: $font-stack;
  line-height: 1.6;
}

#navbar {
  @include set-navbar-background($navbar-bg-color);
  height: 60px;

  &-title {
    color: set-navbar-text-color($navbar-bg-color);
    margin-left: 20px;
  }
}